.custom-image img {
  display: block;
}

.custom-card {
  padding: 10px 16px;
}

.custom-card p {
  color: #999;
}

.custom-img {
  background-image: url('../img/kv2.jpg');
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: auto;
}