
/* #hot{

    background: rgb(255,255,255); 
    background: linear-gradient(25deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,#42a5f5 90%,#42a5f5 100%); 

}
#crumbs{
    background: rgb(255,255,255); 
    background: linear-gradient(355deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,#42a5f5 90%,#42a5f5 100%); 
}
#aboutus{
    background: rgb(255,255,255); 
    background: linear-gradient(170deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 60%,#42a5f5 60%,#42a5f5 100%); 
} */

.ant-anchor-wrapper{
    background: rgba(0, 0, 0, 0) !important
}
.link-img-01 {
    background-image: url('../img/jessica-ruscello-196422.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: auto;
}

.link-img-02{
    background-image: url('../img/patrick-tomasso-71909.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: auto;
}

.link-img-03{
    background-image: url('//placeimg.com/320/180/tech');
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: auto;
}