.customPanelStyle{
    background: #f7f7f7;
    border-radius: 4px !important;
    margin-bottom: 24px;
    border-left: 3px solid #f99200 !important;
    overflow: hidden;
}

.customPanelStyle .ant-collapse-content{
    background: #fff !important
}