#cloudDiv {
    background-image: url(//placeimg.com/320/180/tech);
    background-size: cover;
    background-position: center center;
    height: 300px;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(0px);
    position: relative
}

#cloudOuter {
    width: 90%;
    height: 260px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}